.card {
    background-color: #eaeaea;
    
}
.imageProduct {
    width: 140px;
    height: 180px;
}
.title {
    width: 140px;
}

@media screen and (min-width: 768px) {
    .imageProduct {
        width: 280px;
        height: 360px;
    }
    .title {
        width: 140px;
    }
}